{% extends 'layout/base.html' %}

{% block title %}
Poetype
{% endblock %}
{% block body %}
<div class="text-center">
    <div class="p-3">
        <img src="../../static/images/beqa.png" alt="" style="width: clamp(50px, 25vw, 200px); height: auto;">
    </div>
    <div class="font-geo highlight font-m p-1">
        <span class="font-color font-m">ავტორი: </span><span>ბექა კოპაძე</span>
    </div>

    <div class="p-5"></div>
    <div class="navbar-brand font-geo font-xl font-color"><span class="highlight">P</span><span class="font-color">oetype</span>
    </div>
    <div class="px-5">
        <div class="px-5">
            <div class="font-geo font-m font-color-faded p-3">
                <span class="highlight">ბ</span>ეჭდვის სისწრაფის მთვლელი, სადაც შემთხვევით გენერირებული ტექსტების
                ნაცვლად
                <span class="highlight">ლ</span>ექსებია ასაკრეფი
            </div>
            <div class="font-geo font-m font-color-faded p-3">
                ეს არის ადგილი, სადაც ერთდროულად შეგიძლია გაიუმჯობესო წერის სისწრაფე და სიზუსტე და თან ჩვენი დიდი
                პოეტების
                ლექსებსაც გაეცნო და შემოგესწავლოს
            </div>
            <div class="font-geo font-m font-color-faded p-3">
                ვისთვის არის ეს საიტი<span class="highlight">?</span> პროგრამისტებისთვის რომლებმაც ბეჭდვა იციან მაგრამ
                უარს
                არ იტყოდნენ ლექსები ესწავლათ,
                მოხუცებისთვის რომლებმაც ლექსები იციან მაგრამ უარს არ იტყოდნენ კომპიუტერზე ბეჭდვა ესწავლათ და შვილიშვილი
                გაეოცებინათ.
                მშობლებისთვის რომლებმაც შვილები ვერ მოაშორეს კომპიუტერს, ადრე თუ ბავშვები კომპიუტერზე თამაშით იფუჭებდნენ
                თვალებსა და ხერხემალს,
                ახლა ლექსების სწავლით გაიფუჭებენ თვალებსა და ხერხემალს. <span class="highlight">წ</span>იგნები მიეცით
            </div>
        </div>
    </div>
</div>
<footer class="text-center p-3">
    <p>© 2025 Poetype</p>
    <a href="https://github.com/beqaqo/Poetype" target="_blank" class="github-link">
        <img src="../../static/images/giticon.png" alt="GitHub" class="github-icon"> GitHub
    </a>
</footer>
{% endblock %}