{% extends 'layout/base.html' %}

{% block title %}
Poetype
{% endblock %}
{% block body %}
<div class="text-center">
    <h1 class="font-geo font-xl font-color p-2">ილია ჭავჭავაძე</h1>
    <h2 class="font-geo font-m font-color p-3">ჩამო კალამო</h2>
    <div id="header">
        <div id="info"></div>
    </div>
    <div id="game" class="font-geo p-2" tabindex="0"><div id="words">{{poem|safe}}</div>
        <div id="cursor"></div>
        <div id="focus-error" class="font-geo">დააჭირე რომ გააგრძელო</div>
    </div>
    <div id="time" class="p-5">
        <h3 class="font-geo font-l highlight">30</h3>
    </div>
</div>
{% endblock %}