{% extends 'layout/base.html' %}

{% block title %}
Poetype
{% endblock %}
{% block body %}
<div class="text-center">
    <button id="author" type="button" class="btn font-geo font-xl font-color p-2" data-bs-toggle="modal"
            data-bs-target="#authorModal">{{author}}
    </button>
    <div class="modal fade" id="authorModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <ul class="list-group">
                    {{authors | safe}}
                </ul>
            </div>
        </div>
    </div>
    <div>
        <button id="poem" type="button" class="btn font-geo font-m font-color p-3" data-bs-toggle="modal"
                data-bs-target="#poemModal">{{poem_name}}
        </button>
    </div>
    <div class="modal fade" id="poemModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <ul class="list-group">
                    {{poems | safe}}
                </ul>
            </div>
        </div>
    </div>
    <div id="game" class="font-geo p-2" tabindex="0">
        <div id="words" data-count="{{count}}">{{poem|safe}}</div>
        <div id="cursor"></div>
        <div id="focus-error" class="font-geo">დააჭირე რომ გააგრძელო</div>
    </div>
    <div id="time" class="font-geo font-l highlight p-5">
        0
    </div>
</div>
{% endblock %}